@layout PrintLayout
@page "/khrpr/{KtID:int}"

@inject IDataAccess db
@inject MyAppState MyAppState

<h4><strong>@ktRow.Ad</strong> @ktRow.Sex/@KisiYas</h4>

<DxTagBox Data="@TgData"
					TextFieldName="@nameof(TGmodel.Ad)"
					ValueFieldName="@nameof(TGmodel.IDS)"
					@bind-Values="@ktRow.SelectedTGs"
					ReadOnly="true">
</DxTagBox>
<br />

@*<table class="table table-bordered">
				<tbody>
						@foreach (KHrprModel row in data)
						{
								@if (!string.IsNullOrEmpty(row.Info))
								{
										<tr>
												<td>@row.EXD?.ToString("dd.MM.yy")</td>
												<td>@((MarkupString)row.Info)</td>
										</tr>
								}
						}
				</tbody>
		</table>*@

@*<ul class="list-group">
		@foreach (KHrprModel row in data)
		{
				@if (!string.IsNullOrEmpty(row.Info))
				{
						<li class="list-group-item">
								<div><h5>@row.EXD?.ToString("dd.MM.yy")</h5></div>
								<div>@((MarkupString)row.Info)</div>
						</li>
				}
		}
</ul>*@

@foreach (KHrprModel row in data)
{
		@if (!string.IsNullOrEmpty(row.Info))
		{
				<div class="card">
						<div class="card-header">
								@row.EXD?.ToString("dd.MM.yy")
						</div>
						<div class="card-body">
								<p class="card-text">@((MarkupString)row.Info)</p>
						</div>
				</div>
				<br />
		}
}

@code {
		[Parameter]
		public int KtID { get; set; }
		protected int DtID;

		List<KHrprModel> data = new List<KHrprModel>();
		List<KHmodel> dataKH;
		List<TGmodel> TgData;
		KTmodel ktRow;
		int? KisiYas;

		string customHTML = "<p>This is a <strong>custom HTML</strong> code</p>";

		protected override void OnInitialized()
		{
				DtID = MyAppState.getUsrID();
		}

		protected override async Task OnParametersSetAsync()
		{
				string sql = $"select * from KH where DtID = {DtID} and KtID = {KtID} order by EXD desc";
				dataKH = await db.LoadData<KHmodel, dynamic>(sql, new { });
				ktRow = await db.LoadRec<KTmodel, dynamic>($"select * from KT where KtID = {KtID}", new { });

				KisiYas = DateTime.Today.Year - ktRow.DgmTrh?.Year;

				foreach (var row in dataKH)
				{
						if (!string.IsNullOrEmpty(row.Info))
						{
								data.Add(new KHrprModel { EXD = row.EXD, Info = row.Info.Trim('\n').Replace("\n", "<br/>") });
						}
				}

				if (!string.IsNullOrEmpty(ktRow.Info))
				{
						data.Add(new KHrprModel { EXD = ktRow.EXD, Info = ktRow.Info.Trim('\n').Replace("\n", "<br/>") });
				}



				TgData = await db.LoadData<TGmodel, dynamic>($"select * from TG where DtID = {DtID} and Skl = 'K' order by Ad", new { });
		}

}